{%load static %}
<link href="{%static 'css/home.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="z-index:0; position: absolute; width:100%; height:100%; background-color: #F4E3FF;"></div>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="signup">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><img src="{%static 'images/fb.png' %}" width="20px" height="20px"></a>
				<a href="#" class="social"><img src="{%static 'images/gg.png' %}" width="20px" height="20px"></a>
				<a href="#" class="social"><img src="{%static 'images/lin.png' %}" width="20px" height="20px"></a>
			</div>
			<span>or use your email for registration</span>
			<span id="warningMessageSignUp" style="color:red; display:none">or use your account</span>
			<span id="successMessageSignUp" style="color:green; display:none">Successful</span>
			<span id="loadingSignUp" style="width: 20px;height: 20px; margin-top: 5px; display: none; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; "></span>
			<input id="first_name" type="text" placeholder="First name" />
			<input id="last_name" type="text" placeholder="Last name" />
			<input id="emailSignUp" type="email" placeholder="Email" />
			<input id="passwordSignUp" type="password" placeholder="Password" />
			<input id="passwordSignUpRepeat" type="password" placeholder="Password Repeat" />
			<button onclick="signUp()" type="button">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form id="SignInForm">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><img src="{%static 'images/fb.png' %}" width="20px" height="20px"></a>
				<a href="#" class="social"><img src="{%static 'images/gg.png' %}" width="20px" height="20px"></a>
				<a href="#" class="social"><img src="{%static 'images/lin.png' %}" width="20px" height="20px"></a>
			</div>
			<span>or use your account</span>
			<span id="warningMessage" style="color:red; display:none">or use your account</span>
			<span id="loading" style="width: 20px;height: 20px; margin-top: 5px; display: none; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; "></span>
			<input type="email" placeholder="Email" name="emailSignIn" />
			<input type="password" placeholder="Password" name="pwSignIn" />
			<a href="#">Forgot your password?</a>
			<button onclick="validateSignInForm()" type="button"> Sign In</button>
		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome</h1>
				<p>Enter your personal details and protect everything with fire alarm system</p>
				<button class="ghost" id="signUp"> Sign Up</button>
			</div>
		</div>
	</div>
	<div class="loader"></div>
</div>

<footer>
	<p>
		Created with ?
	</p>
</footer>
<script src="{%static 'js/home.js' %}"></script>
