{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Client-Side Video Creation</title>
    <style>
        .my-div {
            height: 360px;
            width: 640px;
            border: 3px solid black; /* Đường viền màu xanh dương */
            border-radius: 10px; /* Bo góc */
            padding: 5px; /* Khoảng cách giữa đường viền và nội dung */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
            background-color: #ecf0f1; /* Màu nền */
        }
        .footer {
            z-index : 1;
            background-color : #FFFFCC;
            width : 100vw;
            height : 60px;
            position : absolute;
            left: 0;
            top: calc(100vh - 60px);
        }

        .image-div {
            border: 3px solid black;
            width : 640px;
            margin-left : calc(((100vw - 640px) - 640px) / 2)
        }
        .bounding-box {
            margin-left : 30px;
            margin-top : 30px;
            max-height : 600px
        }
        .footer-img img {
            background-color : #FFFFCC;
            padding-right : 10px;
            padding-left : 10px;
            margin-top : 10px;
            margin-right : 10px
        }

        .footer-img img:hover, .footer-img img:focus {
            cursor : pointer;
            background-color : #CD853F;
            width : 40px;
            height : 40px;
        }

        .bounding-info {
            display : flex;
            margin-top : 20px;
            border: 1px solid black; /* Đường viền màu xanh dương */
            width : calc(100vw - 70px);
            height : calc(100vh - 500px);
            margin-left : 30px;
        }

        .flex-div {
            width : calc(100% /3 );
            border: 1px solid black; /* Đường viền màu xanh dương */
            height : 100%;
            overflow : auto;
        }

        .table-border {
            border: 1px solid #CCCCCC;
            border-collapse: collapse;
        }

        .table-border tr, th,    td {
            border: 1px solid #CCCCCC;
            border-collapse: collapse;
        }

        .textarea-tag {
            width : 100%;
            height: 100%;
        }
        .modalDialog {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 2; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100vw; /* Full width */
          height: 100vh; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          padding-bottom: 100px;
        }
        .modal-content {
          overflow : auto;
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width : 80%;
          height : 80%;
          max-height : 500px;
        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          font-size: 28px;
          font-weight: bold;
          height : 28px;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
    </style>
    <style>
        .customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        .customers td, .customers th, .customers tr {
          border: 1px solid #ddd;
          padding: 8px;
          word-wrap: break-all;
        }

        .customers td {
            font-size : 12px;
        }

        .customers td, .customers th {
            width : 33.3%;
        }

        .customers tr:nth-child(even){background-color: #f2f2f2;}

        .customers tr:hover {background-color: #ddd;}

        .customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }

        .pageNumberCount {
            position : absolute;
            display : flex;
            bottom : 0;
        }
        .pageNumberCount div {
            padding : 3px;
            margin : 2px;
            background-color : #848884;
            cursor : pointer;
        }
        .pageNumberCount div {
            padding : 3px;
            margin : 2px;
            background-color : #ced4cf;
            cursor : pointer;
        }
        .pageNumberCount div:hover {
            background-color : #848884;
        }
        .customers i {
            padding : 3px;
            cursor : pointer;
        }
        .customers i:hover {
            padding : 3px;
            cursor : pointer;
            background-color : black;
            color : white !important;
        }
    </style>
    <style>
        .upload_form {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 2; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          padding-bottom: 100px;
        }
        .upload-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width : 500px;
        }

        .closeUpload {
          color: #aaaaaa;
          font-size: 28px;
          font-weight: bold;
          height : 28px;
        }
        .closeUploadCursor:hover,
        .closeUploadCursor:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        .nice-form-group label {
            display: block;
            margin-bottom : 10px;
        }
        .nice-form-group input {
            display: block;
            margin-bottom : 10px;
            width : 100%;
            height : 30px;
        }
    </style>
</head>
<body style="background-color: #F4E3FF">
    <div class="bounding-box" style="display: flex;">
        <div  class="my-div">
<!--            <img id="video-frame" src="{%url 'video_feed' %}" onclick="clickVideo()" width="100%" height="100%" >-->
            <img id="video-frame" src="" onclick="clickVideo()" width="100%" height="100%" >

        </div>
        <div style="background-color: white" class="image-div">
            <img src="" width="100%" height="100%">
        </div>
    </div>
    <div class="bounding-info">
        <div style="background-color: white" class="flex-div">
            <table class="table-border" width="100%">
                <tr style="height : 50px">
                    <th>Output</th>
                </tr>
            </table>
        </div>
        <div style="background-color: white" class="flex-div">
            <table class="table-border" width="100%">
                <tr style="height : 50px">
                    <th>Time</th>
                </tr>
            </table>
        </div>
        <div style="background-color: white" class="flex-div">
            <table class="table-border" width="100%">
                <tr style="height : 50px">
                    <th>Showing</th>
                </tr>
            </table>
                <div style="display: flex; align-items: center; width: calc(100% - 3px); height : calc(100% - 51px);flex-direction: column;">
                    <textarea class="textarea-tag"></textarea>
                </div>
        </div>

    </div>
    <div id="myModal" class="modalDialog">
        <div class="modal-content">
            <div class="close">
                <span onclick="closeSetting()" style="float:right"> &times; </span>
            </div>
            <div style="display:flex; height : calc(100% - 28px)">
                <div style="width:48%; max-width:50%; position:relative">
                    <h1>A Video Table</h1>
                    <div style="margin-bottom:20px">
                        <button onclick="uploadFile()" type="button" style="display: flex; align-items: center;">
                            <i class="fa fa-plus" style="font-size:24px; margin-right : 10px;"></i>
                            Add video
                        </button>
                    </div>
                    <table class="customers">
                        <tr>
                            <th>Name</th>
                            <th>Option</th>
                            <th>check</th>
                        </tr>
                        {% for video in video_list %}
                        <tr>
                            <td> {{ video.name }}</td>
                            <td>
                                <i class="fa fa-edit" style="font-size:24px; margin-right : 10px;"></i>
                                <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                            </td>
                            <td>
                                {% if video.used == 'true' %}
                                    <input type="radio" name="myCheckbox" checked>
                                {% else %}
                                    <input type="radio" name="myCheckbox">
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div>
                        <div class="pageNumberCount">
                            <div><span><a class="previous round">&lt;</a></span></div>
                            <div><span><a class="pageSt">1</a></span></div>
                            <div><span><a class="pageSt">2</a></span></div>
                            <div><span><a class="pageSt">3</a></span></div>
                            <div><span><a class="pageSt">...</a></span></div>
                            <div><span><a class="pageSt">16</a></span></div>
                            <div><span><a class="next round">&gt;</a></span></div>
                        </div>
                    </div>
                </div>
                <div style="width:2%; max-width:2%"></div>
                <div style="width:48%; max-width:50%; position:relative">
                    <h1>A Realtime Input Table</h1>
                    <table class="customers">
                      <tr>
                        <th>Name</th>
                        <th>Option</th>
                        <th>Check</th>
                      </tr>
                    </table>
                    <div class="pageNumberCount">
                        <div><span><a class="previous round">&lt;</a></span></div>
                        <div><span><a class="pageSt">1</a></span></div>
                        <div><span><a class="pageSt">2</a></span></div>
                        <div><span><a class="pageSt">3</a></span></div>
                        <div><span><a class="pageSt">...</a></span></div>
                        <div><span><a class="pageSt">16</a></span></div>
                        <div><span><a class="next round">&gt;</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="upload_form_data" class="upload_form">
        <div class="upload-content">
            <div class="closeUpload">
                <div id="closeUploadButton" onclick="closeUploadForm()" style="float : right" class="closeUpload closeUploadCursor">
                    &times;
                </div>
            </div>
            <div id="check" style="color:red; display:none">Invalid data!</div>
            <div class="nice-form-group">
                <label>First name</label>
                <input id="first_name" type="text" placeholder="First name" value=""/>
            </div>

            <div class="nice-form-group">
                <label>Last name</label>
                <input id="last_name" type="text" placeholder="Last name" value=""/>
            </div>

            <div class="nice-form-group">
                <label>Email</label>
                <input id="email" type="email" placeholder="Your email" value=""/>
            </div>

            <div class="nice-form-group">
                <label>Password</label>
                <input id="password" type="text" placeholder="Your password"/>
            </div>

            <div class="nice-form-group" style="padding-bottom:20px; padding-top:20px">
                <div style="float:right;">
                    <button onclick="submit()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-img" style="float : right">
            <img onclick="openSetting()" title="Admin" src="{%static 'images/setting.png' %}" width="35" height="35">
            <img src="{%static 'images/download.png' %}" width="35" height="35">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
<!--        const socket = new WebSocket('ws://' + window.location.host + '/ws/live/');-->
<!--        let sending = false-->
<!--        let fps-->
<!--        let imageSrc = document.getElementById('video-frame')-->

<!--        socket.onopen = function(event) {-->
<!--            // Khi kết nối đã được thiết lập-->
<!--            console.log("connected")-->
<!--        };-->

<!--        function clickVideo() {-->
<!--            sending = !sending-->
<!--            if(sending == true) {-->
<!--                console.log('start')-->
<!--                sendCommand('start');-->
<!--            } else {-->
<!--                console.log('stop')-->
<!--                sendCommand('stop');-->
<!--            }-->
<!--        }-->
<!--        async function sleep(ms) {-->
<!--            return new Promise(resolve => setTimeout(resolve, ms));-->
<!--        }-->

<!--        function sendCommand(command) {-->
<!--            const commandData = {-->
<!--                'command': command,-->
<!--            };-->
<!--            socket.send(JSON.stringify(commandData));-->
<!--        }-->

<!--        socket.onmessage = (event) => {-->
<!--            let frameDataBuffer = event.data;-->
<!--            let frameDataArray = new Uint8Array(frameDataBuffer);-->
<!--            let imageUrl = URL.createObjectURL(new Blob([frameDataArray], { type: 'image/jpeg' }));-->
<!--            imageSrc.src = imageUrl-->
<!--            socket.close()-->

<!--            let data = JSON.parse(event.data);-->
<!--            if (data.frame) {-->
<!--                imageSrc.src = 'data:image/jpeg;base64,' + data.frame;-->
<!--                console.log(data.frame)-->
<!--            } else if(data.fps) {-->
<!--                timeOfVideo = (data.sum_frame / data.fps)-->
<!--                console.log(timeOfVideo)-->
<!--            } else if (data.complete) {-->
<!--                // Server đã gửi tất cả các frame, thực hiện xử lý sau khi hoàn thành-->
<!--                console.log('Video processing complete.');-->
<!--            }-->
<!--        };-->

    </script>
    <script>
        function closeSetting() {
            const closeSettingButton = document.getElementById('myModal');
            closeSettingButton.style.display = 'none'
        }
        function openSetting() {
            const closeSettingButton = document.getElementById('myModal');
            closeSettingButton.style.display = 'block'
        }
        function addVideo(index) {
        }
        function uploadFile() {

        }
        function closeUploadForm() {
            const upload_form_data = document.getElementById('upload_form_data');
            upload_form_data.style.display = 'none'
        }
    </script>
</body>
</html>