{%load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Management</title>
    <link href="{%static 'css/userManage.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{%static 'css/nice-forms.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{%static 'js/userManage.js' %}"></script>

    <script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        });
        window.addEventListener('beforeunload', () => {
        });
    </script>
    <script>
        let count = '{{count}}'
        let sign = 0
        let indexData = 0
        let userListData = '{{userListData}}'
        let decodedString = $('<div/>').html(userListData).text();
        let jsonData = JSON.parse(decodedString)
        userListData = jsonData
    </script>

</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>User <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a onclick="goToView()" title="Go to stream" class="btn btn-secondary"><i class="material-icons">&#xE5C8;</i>
                            </a>
                        <a onclick="addNewUser()" class="btn btn-secondary"><i class="material-icons">&#xE147;</i>
                            <span>Add New User</span></a>
                        <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i>
                            <span>Export to Excel</span></a>
                        <a onclick="uploadFile()" href="#" class="btn btn-secondary"><i class="material-icons">&#xE2C6;</i>
                            <span>Upload model</span></a>
                        <a id="messageRef" onclick="showMessage()" href="#" class="btn btn-secondary"><i class="material-icons">&#xE0C9;</i>
                            <span id="messageCount" style="color: red">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="bodyUserList">
                {% for user in userList %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td onclick="showProfile(JSON.parse('{{userListData}}')['{{forloop.counter0}}'], '{{forloop.counter0}}', 0)">
                        <a href="#"><img src="{%static 'images/account.png' %}" width="30px" height="30px"
                                         class="avatar" alt="Avatar">
                            <span>{{ user.last_name }} {{ user.first_name }}</span>
                        </a>
                    </td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        {% if user.is_superuser == 1 %}
                        Admin
                        {% else %}
                        User
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active == 1 %}
                        <span class="status text-success">&bull;</span>
                        Active
                        {% else %}
                        <span class="status text-danger">&bull;</span>
                        Inactive
                        {% endif %}
                    </td>
                    <td>
                        <a onclick="updateUser(JSON.parse('{{userListData}}')['{{forloop.counter0}}'], '{{forloop.counter0}}', 0)" href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                        <a onclick="deleteUser(JSON.parse('{{userListData}}')['{{forloop.counter0}}'], '{{forloop.counter0}}', 0)" href="#" class="delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing
                    <b id="RowOfPage">
                        {% if count < 5 %}
                        {{ count }}
                        {% else %}
                        5
                        {% endif %}
                    </b>
                    out of <b id="NumberOfPage">{{ count }}</b> entries
                </div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modalDialog">
    <!-- Modal content -->
    <div class="modal-content">
        <div>
            <span class="close"> &times; </span>
        </div>
        <div id="check" style="color:red; display:none">Invalid data!</div>
        <div class="nice-form-group">
            <label>First name</label>
            <input id="first_name" type="text" placeholder="First name" value=""/>
        </div>

        <div class="nice-form-group">
            <label>Last name</label>
            <input id="last_name" type="text" placeholder="Last name" value=""/>
        </div>

        <div class="nice-form-group">
            <label>Email</label>
            <input id="email" type="email" placeholder="Your email" value=""/>
        </div>

        <div class="nice-form-group">
            <label>Password</label>
            <input id="password" type="text" placeholder="Your password"/>
        </div>

        <div class="nice-form-group">
            <label>Role</label>
            <input name="role" id="role" type="checkbox" placeholder="Role" value="Admin"/>
            <label for="role"> Admin</label>
        </div>
        <div class="nice-form-group">
            <div style="float:right">
                <button onclick="submit()" class="button-3" role="button"> Submit </button>
            </div>
        </div>

    </div>
</div>

<div id="messageBox" class="messageDialog">
    <!-- Modal content -->
    <div class="message-content">
        <p style="margin-bottom : 0;">Successful</p>
    </div>
</div>

<div class="profileDialog">
    <div class="card">
        <div>
            <div style="float:right; padding-right:10px;">
                <span class="closeProfile"> &times; </span>
            </div>
        </div>
      <img src="{%static 'images/account.png' %}" alt="avatar" style="width:100%">
      <h1 id="username" >John Doe </h1>
      <p class="title" id="emailProfile">CEO & Founder, Example</p>
      <p id="roleProfile">Harvard University</p>
      <div class="discover" style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <p><button class="buttonProfile">Contact</button></p>
    </div>
</div>

<div id="message" class="myMessage">
    <!-- Modal content -->
    <table id="customers" style="width : 100%">
        <tr>
            <th>No.</th>
            <th>Request</th>
            <th>Type</th>
        </tr>
        {% for message in messageList %}
        <tr onclick="createRequest('{{forloop.counter0}}')">
            <td>{{ forloop.counter }}</td>
            <td>{{ message.request }}</td>
            <td>Data</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
<script>
    let message = document.getElementById("message")
    let messageLink = document.getElementById("messageRef")
    var rect = messageLink.getBoundingClientRect();
    let messageCheck = false
    let messageCount = document.getElementById("messageCount")

    function showMessage(){
        messageCheck = !messageCheck
        if(messageCheck == true) {
            var posX = parseInt(rect.right);
            var posY = parseInt(rect.top) + parseInt(messageLink.offsetHeight)

            message.style.top = posY + "px"
            message.style.left = posX + "px"

            message.style.display = 'block'
        } else {
            message.style.display = 'none'
        }
    }

    function goToView() {
        let tokenData = localStorage.getItem('data')
        tokenData = JSON.parse(tokenData);
        let token = tokenData.token
        window.location.href = "http://" + window.location.host + "/video/" + token
    }

    let messageListData = '{{messageListData}}'
    let decodedStringData = $('<div/>').html(messageListData).text();
    let jsonMessageData = JSON.parse(decodedStringData)
    messageListData = jsonMessageData
    messageCount.textContent = messageListData.length

    function createRequest(data) {
        messageCheck = !messageCheck
        sign = 1
        let messageData = messageListData[data]
        let extendData = messageData.fields.extend
        let extendDataJson = extendData.replace(/'/g, '"');;
        extendDataJson = JSON.parse(extendDataJson)
        message.style.display = 'none'
        modal.style.display = "block";

        first_name.value = extendDataJson.first_name
        last_name.value = extendDataJson.last_name
        email.value = extendDataJson.email
        password.value = extendDataJson.password
    }
</script>
<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    .myMessage {
        display : none;
        z-index : 1;
        min-width : 150px;
        min-height : 300px;
        position : absolute;
        top : 0;
        left : 0;
        overflow: auto;
        background-color:#66CCCC;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

    .buttonProfile {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    .discover a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    .buttonProfile:hover, .discover a:hover {
      opacity: 0.7;
    }

    .profileDialog {
      display : none;
      position: absolute;
      top: 100px;
      left: calc(50% - 100px);
      z-index: 1; /* Sit on top */
    }
    .closeProfile:hover,
    .closeProfile:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
</style>
<style>
    .messageDialog {
      display: none; /* Hidden by default */
      position: absolute;
      top: 100px;
      left: calc(50% - 125px);
      z-index: 1; /* Sit on top */
      width: 250px;
      height: 50px;
      opacity: 0.8;
    }

    .message-content {
      background-color : #98FB98;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0,100,0);
      font-size: 24px;
      font-weight: bold;
    }

    .modalDialog {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-bottom: 100px;
    }
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width : 500px;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
</style>
<style>
.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
</style>
<script>
    let first_name = document.getElementById("first_name")
    let last_name = document.getElementById("last_name")
    let email = document.getElementById("email")
    let password = document.getElementById("password")
    let role = document.getElementById("role")
    const warningMessage = document.getElementById('check')
    let messageBox = document.getElementById('messageBox')

    let username = document.getElementById('username')
    let emailProfile = document.getElementById('emailProfile')
    let roleProfile = document.getElementById('roleProfile')
    let closeProfile = document.getElementsByClassName('closeProfile')[0]
    let profileDialog = document.getElementsByClassName('profileDialog')[0]

    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    function addNewUser() {
        sign = 1
        modal.style.display = "block";
    }

    closeProfile.onclick = function() {
        profileDialog.style.display = "none";
    }

    function showProfile(data, countData, checkSign) {
        if(checkSign == 1) {
            data = JSON.parse(data)
        }
        username.textContent = data.fields.first_name + " " + data.fields.last_name
        emailProfile.textContent = data.fields.email
        if(data.fields.is_superuser == false || data.fields.is_superuser == 'false') {
            roleProfile.textContent = "User"
        } else {
            roleProfile.textContent = "Admin"
        }
        profileDialog.style.display = 'inline'
        profileDialog.style.opacity = '1'
        profileDialog.style.transition = '2s opacity'
        setTimeout(function(){
            profileDialog.style.opacity = '0'
        }, 2000);
        setTimeout(function(){
            profileDialog.style.display = 'none'
        }, 3000);
    }

    function convertIsoToCustomFormat(isoString) {
        // Chuyển đổi chuỗi iso thành đối tượng moment
        const momentObject = moment(isoString);

        // Định dạng lại theo định dạng yêu cầu
        const formattedString = momentObject.format("MMM. DD, YYYY, h:mm a");

        return formattedString;
    }

    function submit() {
        let data = {
            "first_name" : first_name.value,
            "last_name" : last_name.value,
            "email" : email.value,
            "password" : password.value,
            "is_superuser" : 0,
            "is_active" : 1
        }

        if(role.checked == 'true' || role.checked == true) {
            data.is_superuser = 1
        } else {
            data.is_superuser = 0
        }

        let tokenData = localStorage.getItem('data')
        tokenData = JSON.parse(tokenData);
        let token = tokenData.token

        if(sign == 1) {
            fetch("http://" + window.location.host + "/create", {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer ' + token,
                },
                body: JSON.stringify(data)
            }).then(
                response => response.json()
            ).then(response => {
                if(response.success == false) {
                    warningMessage.innerHTML = 'Invalid data!'
                    warningMessage.style.display = 'inline'
                    warningMessage.style.opacity = '1'
                    warningMessage.style.transition = '2s opacity'
                    setTimeout(function(){
                        warningMessage.style.opacity = '0'
                    }, 2000);
                    setTimeout(function(){
                        warningMessage.style.display = 'none'
                    }, 3000);
                } else {
                    count = parseInt(count) + 1
                    modal.style.display = "none";
                    let newUser = JSON.parse(JSON.stringify(userListData[0]))
                    newUser.fields.date_joined = response.data.date_joined
                    newUser.fields.email = data.email
                    newUser.fields.first_name = data.first_name
                    newUser.fields.last_name = data.last_name
                    newUser.fields.password = data.password
                    newUser.fields.is_superuser = role.checked
                    userListData.push(newUser)
                    $("#bodyUserList").append(
                        '<tr>' +
                            '<td>' + count + '</td>' +
                            '<td onclick="showProfile(' + 'JSON.stringify(userListData[count - 1])' + ", " + (count - 1) + ", 1)" + '">' +
                            '<a href="#">' + '<img src="' + "{%static 'images/account.png' %}" +'"' + ' width="30px" height="30px" class="avatar" alt="Avatar">' + data.first_name + ' ' + data.last_name + '</a>' + '</td>' +
                            '<td>' + convertIsoToCustomFormat(response.data.date_joined) + '</td>' +
                            '<td>' + (data.is_superuser == 1 ? 'Admin' : 'User') + '</td>' +
                            '<td>' + (data.is_active == 1 ? '<span class="status text-success">&bull;</span> Active' : '<span class="status text-danger">&bull;</span> Inactive') + '</td>' +
                            '<td>' +
                            '<a onclick="updateUser(' + 'JSON.stringify(userListData[count - 1])' + ", " + (count - 1) + ", 1)" + '"' + ' href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>' +
                            '<a onclick="deleteUser(' + 'JSON.stringify(userListData[count - 1])' + ", " + (count - 1) + ", 1)" + '"' + ' href="#" class="delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>' +
                            '</td>' +
                        '</tr>'
                    );
                    messageBox.style.display = 'block'
                    messageBox.style.opacity = '1'
                    messageBox.style.transition = '2s opacity'
                    setTimeout(function(){
                        messageBox.style.opacity = '0'
                    }, 2000);
                    setTimeout(function(){
                        messageBox.style.display = 'none'
                    }, 3000);
                }
            })
        } else {
            fetch("http://" + window.location.host + "/update", {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer ' + token,
                },
                body: JSON.stringify(data)
            }).then(
                response => response.json()
            ).then(response => {
                if(response.success == true || response.success == 'true') {
                    modal.style.display = "none";
                    let tdList = $("#bodyUserList").find('tr').eq(parseInt(indexData)).find('td')
                    tdList.eq(1).find('a').eq(0).find('span').eq(0).text(data.last_name + ' ' + data.first_name)
                    if(data.is_superuser == 1) {
                        tdList.eq(3).text("Admin")
                    } else {
                        tdList.eq(3).text("User")
                    }
                    messageBox.style.display = 'block'
                    messageBox.style.opacity = '1'
                    messageBox.style.transition = '1s opacity'
                    setTimeout(function(){
                        messageBox.style.opacity = '0'
                    }, 2000);
                    setTimeout(function(){
                        messageBox.style.display = 'none'
                    }, 3000);
                } else {
                    warningMessage.innerHTML = 'Invalid data!'
                    warningMessage.style.display = 'inline'
                    warningMessage.style.opacity = '1'
                    warningMessage.style.transition = '2s opacity'
                    setTimeout(function(){
                        warningMessage.style.opacity = '0'
                    }, 2000);
                    setTimeout(function(){
                        warningMessage.style.display = 'none'
                    }, 3000);
                }
            })
        }
    }

    function updateUser(data, index, checkSign) {
        if(checkSign == 1) {
            data = JSON.parse(data)
        }
        indexData = index
        sign = 0
        modal.style.display = "block";
        first_name.value = data.fields.first_name
        last_name.value = data.fields.last_name
        email.value = data.fields.email
        password.value = data.fields.password
        if(data.fields.is_superuser == true || data.fields.is_superuser == 'true') {
            role.checked = true
        } else {
            role.checked = false
        }
    }

    function deleteUser(data, index, checkSign) {
        if(checkSign == 1) {
            data = JSON.parse(data)
        }
        indexData = index
        let tokenData = localStorage.getItem('data')
        tokenData = JSON.parse(tokenData);
        let token = tokenData.token

        fetch("http://" + window.location.host + "/delete", {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + token,
            },
            body: JSON.stringify(data.fields)
        }).then(
            response => response.json()
        ).then(response => {
            if(response.success == true || response.success == 'true') {
                let tdList = $("#bodyUserList").find('tr').eq(parseInt(indexData)).remove()
                messageBox.style.display = 'block'
                messageBox.style.opacity = '1'
                messageBox.style.transition = '2s opacity'
                setTimeout(function(){
                    messageBox.style.opacity = '0'
                }, 2000);
                setTimeout(function(){
                    messageBox.style.display = 'none'
                }, 3000);
            } else {
                warningMessage.innerHTML = 'Invalid data!'
                warningMessage.style.display = 'inline'
                warningMessage.style.opacity = '1'
                warningMessage.style.transition = '2s opacity'
                setTimeout(function(){
                    warningMessage.style.opacity = '0'
                }, 2000);
                setTimeout(function(){
                    warningMessage.style.display = 'none'
                }, 3000);
            }
        })
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function uploadFile() {
        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = '.model';  // Chỉ cho phép chọn tệp có phần mở rộng là .model
        fileInput.click();

        fileInput.addEventListener('change', function () {
            var file = fileInput.files[0];
            var formData = new FormData();

            formData.append('file', file);

            // Gửi tệp tin đến máy chủ sử dụng Fetch API
            fetch('/upload-model', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
        });
    }
</script>
</html>
